.heading {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    color: seagreen
  }
  body {
    background-color: #cae8ff;
  }